<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>11:00 - 11:10</td>
        <td>Introductions & Housekeeping details</td>
      </tr>
      <tr>
        <td>11:10 - 11:15</td>
        <td><a href="https://swcarpentry.github.io/shell-novice/index.html" target="_blank">Introduction to the Shell</a></td>
      </tr>
      <tr>
        <td>11:15 - 11:50</td>
        <td><a href="https://swcarpentry.github.io/shell-novice/index.html" target="_blank">Navigating Files and Directories</a></td>
      </tr>
      <tr>
        <td>11:50 - 12:45</td>
        <td><a href="https://swcarpentry.github.io/shell-novice/index.html" target="_blank">Working With Files and Directories</a></td>
      </tr>
      <tr>
        <td>12:45 - 01:30</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>01:30 - 02:00</td>
        <td><a href="https://swcarpentry.github.io/shell-novice/index.html" target="_blank">Pipes and Filters</a></td>
      </tr>
      <tr>
        <td>02:00 - 02:45</td>
        <td><a href="https://swcarpentry.github.io/shell-novice/index.html" target="_blank">Loops</a></td>
      </tr>
      <tr>
        <td>02:45 - 03:00</td>
        <td><a href="https://swcarpentry.github.io/shell-novice/index.html" target="_blank">Shell Scripts</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>11:00 - 12:00</td>
        <td><a href="https://swcarpentry.github.io/shell-novice/index.html" target="_blank">Unix Shell (Contd.)</a></td>
      </tr>
      <tr>
        <td>12:00 - 12:05</td>
        <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Automated Version Control</a></td>
      </tr>
      <tr>
        <td>12:05 - 12:15</td>
        <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Setting Up Git</a></td>
      </tr>
      <tr>
        <td>12:15 - 12:25</td>
        <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Creating a Repository</a></td>
      </tr>
      <tr>
        <td>12:25 - 12:45</td>
        <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Tracking Changes</a></td>
      </tr>
      <tr>
        <td>12:45 - 01:30</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>01:30 - 02:00</td>
        <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Exploring History</a></td>
      </tr>
      <tr>
        <td>02:00 - 02:05</td>
        <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Ignoring Things</a></td>
      </tr>
      <tr>
        <td>02:05 - 02:45</td>
        <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Remotes in GitHub</a></td>
      </tr>
      <tr>
        <td>02:45 - 03:00</td>
        <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Collaborating</a></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>
        <td>11:00 - 11:30</td>
        <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Version Control (Contd.)</a></td>
      </tr>
      <tr>
        <td>11:30 - 11:45</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Running and Quitting</a></td>
      </tr>
      <tr>
        <td>11:45 - 12:05</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Variables and Assignment</a></td>
      </tr>
      <tr>
        <td>12:05 - 12:25</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Data Types and Type Conversion</a></td>
      </tr>
      <tr>
        <td>12:25 - 12:45</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Built-in Functions and Help</a></td>
      </tr>
      <tr>
        <td>12:45 - 01:30</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>01:30 - 01:50</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Libraries</a></td>
      </tr>
      <tr>
        <td>01:50 - 02:20</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Reading Tabular Data into DataFrames</a></td>
      </tr>
      <tr>
        <td>02:20 - 03:00</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Pandas DataFrames</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>
        <td>11:00 - 11:30</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Plotting</a></td>
      </tr>
      <tr>
        <td>11:30 - 11:50</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Lists</a></td>
      </tr>
      <tr>
        <td>11:50 - 12:20</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">For Loops</a></td>
      </tr>
      <tr>
        <td>12:20 - 12:45</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Conditionals</a></td>
      </tr>
      <tr>
        <td>12:45 - 01:30</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>01:30 - 01:45</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Looping Over Data Sets</a></td>
      </tr>
      <tr>
        <td>01:45 - 02:10</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Writing Functions</a></td>
      </tr>
      <tr>
        <td>02:10 - 02:30</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Variable Scope</a></td>
      </tr>
      <tr>
        <td>02:30 - 02:55</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Programming Style</a></td>
      </tr>
      <tr>
        <td>02:55 - 03:00</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html" target="_blank">Q&A and Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
